{% extends 'index_base.html' %}

{% block content %}
<!-- Div for headline-->
    <div class="headline-div row" style="background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url({{coverPhotos|random}}); margin-top: 90px; margin-bottom: 30px; display: flex; flex-direction: row;">
        <div class="headline-container col-md-8">
            <h1 class="headline-text">{{headline|random}}</h1>
            {% if user.is_authenticated %}

            {% else %}
                <div class="headline-btn-div text-center">
                    <a href="{% url 'login' %}"><button id="action-btn">Get Started</button></a>
                </div>
            {% endif %}
        </div>

        <div class="card-search col-md-4 text-center">
            <h3 class="headline-text">Search restaurants</h3>
            <form id="searchForm" method="POST">
                {% csrf_token %}
                <!--City Name Div-->
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-city"></i></span>
                    </div>
                    <input id="cityName" list = "city_list" name="city" type="text" class="form-control" placeholder="City">
                    <datalist id="city_list">
                            <option value="San Francisco">California</option>
                    </datalist>
                    
                </div>
                <!--Restaurant Name Div-->         
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-building"></i></span>
                    </div>
                    <input id="restaurantName" name="name" list="bus_search" type="text" class="form-control" placeholder="Restaurant name or address">
                    <datalist id="bus_search">
                        {% for business in results %}
                            <option value="{{business.business_name}}">{{business.business_address}}</option>
                        {% empty %}
                            <option>No match... sorry we searched everywhere</option>
                        {% endfor %}
                    </datalist>
                </div>
                <!--Message Div-->
                <div>
                    <p class="sign-up-message">{{message}}</p>
                </div>

                <div class="form-group">
                    <input style="background-color: #CC9933" type="submit" value="Search" class="btn float-right search_btn">
                </div>
            </form>
        </div>

    </div>
       
    

    <div class="container-fluid text-center">
    <h4 style="color: black; font-weight: normal;"> Search results for '{{name}}' in {{city}}</h4>
        <div class="d-inline-flex text-center">
            <div class="bus-list-div">
            {% for result in results%}
            
            <a class="menu-link" href="{% url 'business' result.business_id%}">
                <div class="bus-div">
                    
                    <div class="bus-thumbnail" style="background-image: url( {{photos|random}} );">
                        <p style="display: none" class="businessQuery">{{result.business_name}}, {{result.business_address}}</p>
                    </div>
                    
                    <div class="bus-info-div">
                        
                        <p class="bus-text text-city" style="margin: 0; padding: 0;">{{result.business_city}}</p>
                        <p class="bus-text text-name">{{result.business_name}}</p>
                        <p class="bus-text text-address">{{result.business_address}}</p>
                        {% if result.inspection_score == none %}
                            <p class="bus-text text-score"><i class="fas bus-icon fa-check-square" style="color: #D28827"></i>No score</p>
                        {% else %}
                            <p class="bus-text text-score"><i class="fas bus-icon fa-check-square" style="color: #D28827"></i>{{result.inspection_score}}%</p>                            
                        {% endif %}
                        
                    </div>
                    
                </div>
            </a>
            
            {% empty %}
                <!-- Result empty load alternative -->
                <div class="container-fluid text-center">
                    <h6><i class="fas fa-sad-tear" style="color: #D28827"></i> No match found... sorry we searched everywhere</h6>
                </div>
            {% endfor %}
            </div>
        </div>
        <!-- Div for loading spinners -->
        
    </div>
    <script type="text/javascript">
        // When page content loads
        document.addEventListener('DOMContentLoaded', ()=>{
            // Change navigation to current
            $("#restaurants").css("border-bottom", "1px solid #D28827");
            // Set search value

            $("#cityName").val("{{city}}")
            $("#restaurantName").val("{{name}}")

            cityText = $("#cityName").val();
            nameText = $("#restaurantName").val();
            $("#searchForm").submit(function (event){
                if(cityText === "" || nameText == ""){
                    $(".sign-up-message").text("Enter all Fields")
                    return false;
                }
                else{
                    // There is some text in the fields, send ajax request
                    $.ajax({
                    url: "/search",
                    type: "GET", // or "get"
                    data:{
                        city: city,
                        name: name
                    },
                    success: function(data) {
                        //data = JSON.parse(data);
                    }
                    });

                }
            })

            if("{{toppicks}}" != ""){
            $("#restaurants").css("border-bottom", "none");
            $("#topPicks").css("border-bottom", "1px solid #D28827");
        }
        })

        


    </script>

{% endblock %}