{% extends 'index_base.html' %}

{% block content %}
<!-- Div for headline-->
    <div class="headline-div row" style="background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url({{coverPhotos|random}}); margin-top: 90px; margin-bottom: 30px; display: flex; flex-direction: row;">
        <div class="headline-container col-md-8">
            <h1 class="headline-text">{{headline|random}}</h1>
            {% if user.is_authenticated %}

            {% else %}
                <div class="headline-btn-div text-center">
                    <a href="{% url 'login' %}"><button id="action-btn">Get Started</button></a>
                </div>
            {% endif %}
        </div>

    </div>
       
    

    <div class="container">
    <h4 style="color: black; font-weight: normal;"> Why use our site?</h4>
        <div class="d-inline-flex" style="margin-top: 40px; margin-bottom: 40px;">
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check-square fa-2x" 
                style="color: green; margin-right: 20px;"></i></span>
                    <p style="font-size: 18px"><strong>No Corporate Interference: </strong>
                        You can trust evalu8 to give you reviews left by REAL humans and scores 
                        that are completely unaffected by corporate agencies. We do not ask restaurants 
                        for money to include their business on our site and we won’t accept money from 
                        restaurants to manipulate reviews or scores. The data you get from evalu8 is 100% 
                        untampered with. We live for data accuracy!
                    </p>
                </li>
                <li><span class="fa-li"><i class="fas fa-check-square fa-2x" 
                style="color: green; margin-right: 20px;"></i></span>
                    <p style="font-size: 18px"><strong>Free Always: </strong>
                        You deserve to get ratings, reviews, and scores. It is your data and we believe you 
                        should not pay for it. evalu8 will be free, always!
                    </p>
                </li>
                <li><span class="fa-li"><i class="fas fa-check-square fa-2x" 
                style="color: green; margin-right: 20px;"></i></span>
                    <p style="font-size: 18px"><strong>No Ads: </strong>
                        Ads aren’t cool.
                    </p>
                </li>
                <li><span class="fa-li"><i class="fas fa-check-square fa-2x" 
                style="color: green; margin-right: 20px;"></i></span>
                    <p style="font-size: 18px"><strong>Extensively Open Source: </strong>
                        Evalu8 is built on open-source data. It makes sense that we commit our resources 
                        to the development of the open-source society. The entire source code of this project 
                        is publicly available on the developer’s GitHub. Access it via this <a href="https://github.com/MichaelVandi/evalu8">link.</a>

                    </p>
                </li>
                <li><span class="fa-li"><i class="fas fa-check-square fa-2x" 
                style="color: green; margin-right: 20px;"></i></span>
                    <p style="font-size: 18px"><strong>Our story: </strong>
                        We are not a group of thousands of developers, we do not have the numbers or the finances. 
                        In fact, we are exactly just one developer plus you, our customer, it’s plausible you 
                        might be our only visitor, but what we do pride ourselves in is the data we are 
                        providing you and the satisfaction we get from knowing real people like you are 
                        actually using that data to make informed decisions about where to get their next meal. 
                        That is what inspires us, and every day, when one cool feature pops up in our minds, it 
                        should only take one late night of coding before you see it on our platform the next morning.

                    </p>
                </li>

            </ul>
        </div>
        <!-- Div for loading spinners -->
        
    </div>
    <script type="text/javascript">
        // When page content loads
        document.addEventListener('DOMContentLoaded', ()=>{
            // Change navigation to current
            $("#whyevalu8").css("border-bottom", "1px solid #D28827");
            // Set search value


            if("{{whyevalu8}}" != ""){
            $("#restaurants").css("border-bottom", "none");
            $("#toppicks").css("border-bottom", "none");
            $("#whyevalu8").css("border-bottom", "1px solid #D28827");
        }

        })

        


    </script>

{% endblock %}