
.nav-text{
    color: black;
    font-weight: lighter;
}
.headline-div{
    width: 100%;
    height: 250px;
    background-size: cover;
}
.headline-container{
    padding-top: 50px; 
    padding-left: 10%;
    margin-bottom: 20px;
}
.headline-text{
    color: white;
    font-weight: normal;
}
#action-btn{
    background-color: transparent;
    color: white;
    border-radius: 13px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 10px 13px 25px -6px rgba(0,0,0,0.88);
}

#main-content{
    
    height: 80%;
    width: 100%;
    position:absolute;
}

#footer-text{
    color: black;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    padding-top: 10px;

}
.bus-list-div{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.bus-div{
    width: 250px;
    height: 300px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0.5px solid #E6E5E4;
    padding-bottom: 13px;
}
.bus-thumbnail{
    width: 100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
}
.bus-info-div{
    width: 100%;
    height: 40%;
    padding-left: 5px;
    padding-right: 5px;

}

.bus-text {
    width: 100%;
    text-align: left;
    vertical-align: bottom;
    padding: 0px;
    margin: 0px;
    color: black;
    
}
.text-name{
    font-weight: bold;
    font-size: 18px;
}
.text-city{
    font-weight: bold;
    font-size: 16px;
    color: grey;
}
.text-address{
    font-size: 16px;
}
.text-score{
    font-size: 16px;
    color: grey;
}
.menu-link{
    text-decoration: none;
}
.menu-link:hover{
    text-decoration: none;
}
.web-icon{
    margin-top: 5px;
}

.score-text{
    color: grey;
    margin: 0px;
    padding: 0px;
    text-align: left;
    margin-left: 5px;

}

/* Map Page Styles */

#map{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.cover-image{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background-size: cover;
}
.needs-vpadding{
    padding-top: 10px;
    padding-bottom: 10px;
}
.bus-icon{
    color: #D28827;
    margin-right: 5px;
}
.bus-icons{
    color: #0F3B5F;
    margin-right: 8px;
}
.h-row-flex{
    display: flex;
    flex-direction: row
}
.p-bar{
    border-radius: 10px;
}
.progress{
    border-radius: 10px;
    width: 100%
}
.p-bar-index{
    border-radius: 10px;
    background-color: #E6E5E4;
}
.more-bus-thumb{
    width: 40%;
    height: 100px;
    border-radius: 10px;
    background-size: cover;
    margin-right: 10px;
}
.money-icon{
    color: #E6E5E4;
}
.action-text{
    color: black;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
}
.action-icon{
    color: #D28827;
    margin-right: 5px;
}

.action-link-large{
    width: 98%;
    padding: 3px;
    border: 1.4px solid #DCDCDC;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 5px;
    
}
.action-link-nofill{
    width: 48%;
    padding: 3px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1.4px solid #DCDCDC;
    margin-top: 10px;
}
#revDiv{
    margin-top: 10px;
    padding-top: 10px;

}
.needsTopBorder{
    border-top: 1px solid #DCDCDC;
}
.write-text-div{
    height: 40px;
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}
.text-form {
    width: 100%;
    height: 100%;
    background: white;
    }
.text-bar{
    width: 80%;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    padding-left: 10px;
}
.review-btn{
    border-radius: 5px;
    font-weight: normal
}
.review-btn:hover{
    cursor: pointer;
}
.text-error{
    color:red;
    
}
.text-success{
    color: green;
}
.user-name-text{
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
.time-text{
    color: grey;
    margin-left: 5px;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
}
.user-review-text{
    margin: 0px;
    padding: 0px;
}
.user-row-flex{
    display: flex;
    flex-direction: row;
    height: 30px;
}
.user-thumb{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.review-container{
    margin-bottom: 20px;
}
#google-review-div{
    margin-top: 40px;
    width: 95%;
}
#my-review-div{
    margin-top: 10px;
    width: 95%;
    
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
    .menu-item{
        width: 30%;
        padding: 10px;
        
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 5%
    }
    .category-header{
        color: black;
        margin-left: 5%
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .menu-item{
        width: 30%;
        padding: 10px;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .menu-item{
        width: 50%;
        padding: 10px;
        
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .menu-item{
        width: 50%;
        padding: 10px;
        
    }
    
  }
