body{
    background-size: cover
}

.nav-text{
    color: black;
    font-weight: lighter;
}
#footer-div{
    width: 100%;
    height: 12%;
    background-color: #EEEEEE;
    position:fixed;
    bottom:0;
    margin: 0;
    padding: 5px;
}
#main-content{
    
    height: 80%;
    width: 100%;
    position:absolute;
}
.login-href{
    color: white;
    text-decoration: underline;
}
.center-container{
    
    height: 50%;
    width: auto;
    left: 30%;
    top: 30%;
    position: absolute;
    
}
#home-catch-text{
    color: white;
}
#action-btn{
    width: 300px;
    height: 50px;
    background-color: #EE9837;
    color: white;
    border-radius: 10px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 10px 13px 25px -6px rgba(0,0,0,0.88);
}

#footer-text{
    color: black;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    padding-top: 10px;
}

/* Login Page styles start here */

.container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    border-radius: 13px;
    }
    .card-signup{
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
        background-color: rgba(0,0,0,0.5) !important;
        border-radius: 13px;
        }
    
    .card-header h3, h4{
    color: white;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #CC9933;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    .sign-up-message{
        color: #CC9933;
        font-weight: bold;
    }
    
    
    .login_btn{
    color: black;
    background-color: #CC9933;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }
    .name-div{
        display: flex;
        flex-direction: row;
        
    }
    /* Forget password styles */

        .simple-form{
        margin: 0 .25rem;
        }
      .simple-form input {
        border: 1px solid #eee;
        border-left: 3px solid;
        border-radius: 5px;
        transition: border-color .5s ease-out;
        width: 100%;
      }
      .simple-form li{
          color: white;
      }
      .simple-form label{
        color: white;
        font-weight: bold;
    }
      .simple-form button {
          color: white;
          background-color: #CC9933;
          border-radius: 8px;
          border: none;
          padding: 5px;
      }
      .simple-form input:optional {
        border-left-color: #999;
      }
      .simple-form input:required {
        border-left-color: palegreen;
      }
      .simple-form input:invalid {
        border-left-color: salmon;
        
      }