{% extends 'registration/reset_password_base.html' %}

{% block content %}
<div class="container">


    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Password Reset Sent</h3>
                   
                </div>
                <div class="card-body">
                     <p style="color: white;">
                        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

                        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
                    </p>
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}